config MCUX_PRJSEG_module.board.evkbmimxrt1170
    bool
    default y
    select APP_LWIP
    select APP_STORAGE
    select MCUX_COMPONENT_component.phyrtl8211f
    select MCUX_COMPONENT_component.rtos_apps.async
    select MCUX_COMPONENT_component.igpio_adapter
    select MCUX_COMPONENT_driver.flexspi
    select MCUX_COMPONENT_driver.enet_qos
    select MCUX_COMPONENT_driver.enet
    select MCUX_COMPONENT_driver.snvs_hp
