# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

choice MCUX_PRJSEG_config.board.build_cfg_sel
    prompt "FRDMIMXRT1186 EVK CM33 TSN build configuration options"
    default MCUX_PRJSEG_config.board.app_bridge_default

    config MCUX_PRJSEG_config.board.app_bridge_default
        bool "TSN bridge default configuration"
        select APP_TSN_BRIDGE
        imply APP_STORAGE
        imply APP_QBV
        imply APP_FP
        imply APP_LWIP
        select MCUX_COMPONENT_driver.cache_xcache
        select MCUX_COMPONENT_middleware.freertos-kernel.cm33_non_trustzone
        select MCUX_COMPONENT_middleware.genavb.srp
        select MCUX_COMPONENT_middleware.genavb.hsr
        select MCUX_COMPONENT_component.rtos_apps.tsn_headers

    config MCUX_PRJSEG_config.board.app_bridge_hybrid
        bool "TSN bridge hybrid configuration"
        select APP_TSN_ENDPOINT
        select APP_TSN_BRIDGE
        imply APP_STORAGE
        imply APP_QBV
        imply APP_FP
        imply APP_LWIP
        select MCUX_COMPONENT_driver.cache_xcache
        select MCUX_COMPONENT_middleware.freertos-kernel.cm33_non_trustzone

endchoice

config MCUX_PRJSEG_config.board.tsn_motor_controller
    bool "MIMXRT1186 EVK CM33 TSN Hybrid Motor Controller configuration"
    default n
    select APP_MOTOR_CONTROLLER
