config MCUX_PRJSEG_module.board.evkmimxrt1180
    bool
    default y
    select MCUX_COMPONENT_component.phyrtl8201
    select MCUX_COMPONENT_component.phyrtl8211f
    select MCUX_COMPONENT_driver.msgintr
    select MCUX_COMPONENT_driver.netc
    select MCUX_COMPONENT_driver.netc_switch
    select MCUX_COMPONENT_driver.rgpio
    select MCUX_COMPONENT_driver.trdc
    select MCUX_COMPONENT_driver.flexspi
    select MCUX_COMPONENT_component.rtos_apps.async
