# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

menu "GenAVB/TSN Application Configuration"
config MCUX_PRJSEG_config.board.avb_audio_app
    bool
    default y
    select APP_MCR
    select APP_LWIP
    select APP_STORAGE
    select MCUX_COMPONENT_component.rtos_apps.async
    select MCUX_COMPONENT_component.rtos_apps.log
    select MCUX_COMPONENT_component.rtos_apps.tsn_headers
    select MCUX_COMPONENT_driver.dmamux
    select MCUX_COMPONENT_driver.edma
    select MCUX_COMPONENT_driver.lpi2c
    select MCUX_COMPONENT_driver.sai
    select MCUX_COMPONENT_middleware.genavb.avdecc
    select MCUX_COMPONENT_middleware.genavb.avtp

config APP_MCR
    bool "Application Board Media Clock Recovery support"
    default n

rsource "../common/Kconfig"
rsource "../common/Kconfig.prjseg"
source "$(app_root_path)/boards/${board}/demo_apps/avb_tsn/Kconfig.common_deps"
endmenu

source "${SdkRootDirPath}/Kconfig.mcuxpresso"
