# Copyright 2025 NXP
#
# SPDX License Identifier: BSD-3-Clause

rsource "../Kconfig.common_deps"

config MCUX_PRJSEG_config.board.tsn
    bool "MCXE31B FRDM TSN endpoint configuration"
    default y
    select APP_TSN_ENDPOINT
    select APP_QBV
    select APP_FP
    select MCUX_COMPONENT_middleware.genavb.srp
